body {
  background-color: lightgray;
  font-family: sans-serif;
}
nav {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

nav a:hover .dropdown:hover .btnDrop{
  background-color: darkgray;
  color: black;
}

header, nav, main {
  padding-left: 3%;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .btnDrop {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
